In [8]:
import pandas as pd
import rpy2
from rpy2 import robjects
from rpy2.robjects import pandas2ri

import pyreadr

`pyreadr`:

Supports:
1. R data frames
2. Tibbles
3. Vectors
4. Matrices
5. Arrays
6. Tables


Not supported: 
1. R lists
2. R S4 objects

In [4]:
pandas2ri.activate()

`rpy2`

Needs R to be installed

In [7]:
# data_path = '../data/MentalRotation.csv'
# r_data = robjects.r['get'](robjects.r['load'](data_path))
# rdf = pandas2ri.ri2py(r_data)a

In [11]:
data_path = '../data/MentalRotation.csv'
df = pd.read_csv(data_path)
pyreadr.write_rds("test.Rds", df)

In [12]:

rdf = pyreadr.read_r("test.Rds")

In [14]:
df1 = rdf[None]
df1.head()

          Subject  Trial  Angle  Matching Response    Time  Correct   Age Sex
rownames
1            49.0    1.0    0.0       0.0        n  3107.0      1.0  32.0   M
2            49.0    2.0  150.0       0.0        n  2930.0      1.0  32.0   M
3            49.0    3.0  150.0       1.0        b  1874.0      1.0  32.0   M
4            49.0    4.0  100.0       1.0        b  3793.0      1.0  32.0   M
5            49.0    5.0   50.0       1.0        b  2184.0      1.0  32.0   M