# Chapter 2: An array of Sequences

list: mutable, mixed type
tuple: immutable, mixed type

Why list comprehension over using for loop to append to an existing list for readability?

**setting clear intent: list comprehension has only one intention which is creating a new list whereas for loop can be for many different intentions**

In [1]:
nums = [i for i in range(1,10000001)]

List comprehensions: listcomp

In [2]:
from time import time
start = time()
squares = []
for num in nums:
    squares.append(num*num)
end = time()
end-start

2.654470205307007

In [3]:
start = time()
squares = list(map(lambda x: x*x, nums))
end = time()
end-start

2.391852617263794

In [4]:
start = time()
squares = [num*num for num in nums]
end = time()
end-start

1.6882853507995605

In [8]:
round((2.6-1.7)*100/2.6)

35

General expressions: genexps

Memory saving: works by making use of iterator protocol to yield elements one by one instead of creating whole list

**Detour**

Iteration protocol: set of rules that enables looping. It has two components

1. Iterable: an object that implements dunder iter special method which returns an iterator when called
2. Iterator: an object that enables looping over using two methods: dunder iter which returns the same iterator (self) and dunder next which returns the next element in the iterable

**Detour ends**

In [22]:
# creating a simple genexp
gen_exp = (x for x in range(5))
gen_exp

In [23]:
# gen_exp is a generator object. Making a list from this generator object
list(gen_exp)

[0, 1, 2, 3, 4]

In [25]:
# making a tuple from same generator object
tuple(gen_exp) ########## WHAAAT!!

()

In [26]:
gen_exp = (x for x in range(5))
tuple(gen_exp) # This works

(0, 1, 2, 3, 4)

In [28]:
list(gen_exp) # Does not work

[]

In [30]:
gen_exp = (x for x in range(3))
next(gen_exp)

0

In [31]:
next(gen_exp)

1

In [32]:
next(gen_exp)

2

In [33]:
next(gen_exp)

StopIteration:

Once gen_exp has reached the last element, it cannot recover the previous elements as it never stores them

In [34]:
a = 10
b = 5

In [35]:
a,b = b,a

In [36]:
a,b

(5, 10)

In [41]:
c = (a,b)
quotient, reminder = divmod(*c) # tuple unpacking with *

In [42]:
a,*b = (1,2,3)

In [46]:
type(a)

int

In [45]:
type(b)

list

In [48]:
metro_areas = [
('Tokyo', 'JP', 36.933, (35.689722, 139.691667)),
('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)),
('Mexico City', 'MX', 20.142, (19.433333, -99.133333)),
('New York-Newark', 'US', 20.104, (40.808611, -74.020386)),
('Sao Paulo', 'BR', 19.649, (-23.547778, -46.635833)),
]

In [50]:
a,b,c,d,e = metro_areas

In [51]:
a

('Tokyo', 'JP', 36.933, (35.689722, 139.691667))

In [52]:
for name, city, something, tup in metro_areas:
    lat, lon = tup
    print(lat)

35.689722
28.613889
19.433333
40.808611
-23.547778

Named tuple is a factory

In [53]:
from collections import namedtuple

In [55]:
namedtuple

In [59]:
Employee = namedtuple('Employee', 'name email salary')
employee = Employee(name='a', email='b', salary=0)
employee

Employee(name='a', email='b', salary=0)