# Chapter 2: An array of Sequences

list: mutable, mixed type
tuple: immutable, mixed type

Why list comprehension over using for loop to append to an existing list for readability?

**setting clear intent: list comprehension has only one intention which is creating a new list whereas for loop can be for many different intentions**

In [1]:
nums = [i for i in range(1,10000001)]

List comprehensions: listcomp

In [2]:
from time import time
start = time()
squares = []
for num in nums:
    squares.append(num*num)
end = time()
end-start

3.6053192615509033

In [3]:
start = time()
squares = list(map(lambda x: x*x, nums))
end = time()
end-start

3.1970040798187256

In [4]:
start = time()
squares = [num*num for num in nums]
end = time()
end-start

1.8675661087036133

In [5]:
round((2.6-1.7)*100/2.6)

35

General expressions: genexps

Memory saving: works by making use of iterator protocol to yield elements one by one instead of creating whole list

**Detour**

Iteration protocol: set of rules that enables looping. It has two components

1. Iterable: an object that implements dunder iter special method which returns an iterator when called
2. Iterator: an object that enables looping over using two methods: dunder iter which returns the same iterator (self) and dunder next which returns the next element in the iterable

**Detour ends**

In [6]:
# creating a simple genexp
gen_exp = (x for x in range(5))
gen_exp

In [7]:
# gen_exp is a generator object. Making a list from this generator object
list(gen_exp)

[0, 1, 2, 3, 4]

In [8]:
# making a tuple from same generator object
tuple(gen_exp) ########## WHAAAT!!

()

In [9]:
gen_exp = (x for x in range(5))
tuple(gen_exp) # This works

(0, 1, 2, 3, 4)

In [10]:
list(gen_exp) # Does not work

[]

In [11]:
gen_exp = (x for x in range(3))
next(gen_exp)

0

In [12]:
next(gen_exp)

1

In [13]:
next(gen_exp)

2

In [14]:
next(gen_exp)

StopIteration:

Once gen_exp has reached the last element, it cannot recover the previous elements as it never stores them

In [ ]:
a = 10
b = 5

In [ ]:
a,b = b,a

In [ ]:
a,b

(5, 10)

In [ ]:
c = (a,b)
quotient, reminder = divmod(*c) # tuple unpacking with *

In [ ]:
a,*b = (1,2,3)

In [ ]:
type(a)

int

In [ ]:
type(b)

list

In [ ]:
metro_areas = [
('Tokyo', 'JP', 36.933, (35.689722, 139.691667)),
('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)),
('Mexico City', 'MX', 20.142, (19.433333, -99.133333)),
('New York-Newark', 'US', 20.104, (40.808611, -74.020386)),
('Sao Paulo', 'BR', 19.649, (-23.547778, -46.635833)),
]

In [ ]:
a,b,c,d,e = metro_areas

In [ ]:
a

('Tokyo', 'JP', 36.933, (35.689722, 139.691667))

In [ ]:
for name, city, something, tup in metro_areas:
    lat, lon = tup
    print(lat)

35.689722
28.613889
19.433333
40.808611
-23.547778

Named tuple is a factory

In [ ]:
from collections import namedtuple

In [ ]:
namedtuple

In [ ]:
Employee = namedtuple('Employee', 'name email salary')
employee = Employee(name='a', email='b', salary=0)
employee

Employee(name='a', email='b', salary=0)

### Slices

seq[start:stop:step] is evaluated using dunder getitem special method and the slice method

seq.__getitem(slice(start,stop,step))

**Detour** Interesting that ellipsis is class name whereas Ellipsis is it's instance
**Detour ends**

In [23]:
# assigning to slices

a = [1,2,3,4,5]
a[1] = 20 # works
a

[1, 20, 3, 4, 5]

In [24]:
a[2:4] = [30, 40] # works
a

[1, 20, 30, 40, 5]

In [33]:
a[2:4] = 100 # Nope
a

TypeError: can only assign an iterable

In [35]:
a[2:4] = [100] # iterable
a

[1, 20, 100]

In [37]:
a[5:100] # why not an error?

[]

In [41]:
# a[5:100] is equivalent to a.__getitem__(slice(5,100)) # slice operation

In [67]:
my_list = [[]] * 2
my_list

[[], []]

In [70]:
id(my_list[0]) == id(my_list[1])

True

In [50]:
my_list[0].append(1)

In [51]:
my_list # Whoa

[[1], [1]]

In [71]:
id(my_list[0]) == id(my_list[1])

True

In [73]:
my_list[1] = 2 # This works
my_list

[[], 2]

In [74]:
id(my_list[0]) == id(my_list[1])

False

Assignment works. Appending doesn't.

In [77]:
my_list = [['-']] * 2
my_list

[['-'], ['-']]

In [78]:
my_list[0].append('X')
my_list

[['-', 'X'], ['-', 'X']]

In [79]:
id(my_list[0]) == id(my_list[1])

True

In [84]:
for i in range(1):
    for j in range(0,2):
        print(my_list[i][j], my_list[i+1][j], "\t", id(my_list[i][j]) == id(my_list[i+1][j]))
        print()

- - 	 True

X X 	 True

In [66]:
my_list[0][0] = 'X'
my_list

[['X', 'X'], ['X', 'X']]

In [85]:
# Still replacing inner list
my_list[1] = ['Y','Y']
my_list

[['-', 'X'], ['Y', 'Y']]

In [86]:
# reference is broken only when outer list is changed

In [90]:
a = ['-']*3
for i in range(len(a)):
    print(id(a[i]))

print()
a[1] = 10
for i in range(len(a)):
    print(id(a[i]))

# this works as a is the outerlist

140455691145648
140455691145648
140455691145648

140455691145648
9476736
140455691145648

In [96]:
t = (1,2,[10,20])
id(t)

140454507880768

In [97]:

t[2] += [30,40]

TypeError: 'tuple' object does not support item assignment

In [98]:
t

(1, 2, [10, 20, 30, 40])

In [99]:
id(t)

140454507880768

In [103]:
t = (1,2,[10,20])
id(t)

140454507884480

In [104]:
for e in t:
    print(id(e))

9476448
9476480
140454507895936

In [105]:

t[2].extend([30,40])
for e in t:
    print(id(e))

9476448
9476480
140454507895936

In [106]:

t[2].append(50)
for e in t:
    print(id(e))

9476448
9476480
140454507895936